body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header h1 {
    text-align: center;
    padding: 2%;
    color: #473144;
    font-weight: 550;
    font-family: "Lora", serif;
}

main {
    display: flex;
}

.grid-container {
    display: flex;
    flex-direction: row; /* Align .details and .book side by side */
    gap: 20px; /* Add space between .details and .book */
    padding: 20px;
    width: 100%; /* Ensure the container takes full width */
    align-items: flex-start; /* Align items to the top */
    box-sizing: border-box;
}

nav {
    text-align: right;
    border-top: 2px solid #EFC69B;
    border-bottom: 2px solid #EFC69B;
    padding: 1%;
    padding-right: 5%;
}

nav a {
    color: #A24D5F;
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
}

.details {
    flex: 1 1 auto; /* Allow it to grow and shrink appropriately */
    max-width: 10%; /* Control width of the details section */
    padding: 1%;
    text-align: right;
}

.book {
    flex: 2 1 auto; /* Allow it to grow and take up more space than .details */
    padding-left: 5%;
    border-left: 2px solid #EFC69B;
    max-width: 45%; /* Control width of the book section */
}

.book h2 {
    color: #AF1B3F;
}

.book img {
    padding-right: 20%;
    padding-left: 10%;
}

.filters {
    top: 30%;
    right: 10%;
    width: 20%;
    height: 50vh;
    border: 2px solid #EFC69B;
    position: fixed;
    
}

.skiptocontent a {
	position: absolute;
	opacity: 0;
    align-items: left;
    background-color: red;
    color: black;
    text-decoration: none;
}
.skiptocontent a:focus {
	opacity: 1;
}